.el-checkbox {
  .el-checkbox__inner {
    border-radius: var(--radius-raidus-100);
    &::after {
      left: 6px;
    }
  }

  .is-indeterminate {
    .el-checkbox__inner {
      border: none;
      &::before {
        top: 7px;
      }
    }
  }
  &:not(.is-disabled) {
    color: var(--color-gray-gray-990);
    border: none;
    .el-checkbox__inner {
      border-color: var(--color-cloudy-gray-cloudy-gray-500);
    }
    &:hover {
      .el-checkbox__inner {
        border-color: var(--color-cloudy-gray-cloudy-gray-800);
      }
    }
  }

  &.is-disabled,
  &.is-checked {
    border: none;
    .el-checkbox__inner {
      border: none;
    }
  }
  &.is-checked {
    &.is-disabled {
      .el-checkbox__inner {
        &::after {
          border-color: var(--color-gray-gray-800);
        }
      }
    }
  }

  &[error='true'] {
    .el-checkbox__inner {
      background-color: var(--color-red-red-300);
    }
    &.is-checked {
      .el-checkbox__inner {
        background-color: var(--color-red-red-900);
      }
    }
  }
}
