.date-picker-popover {
  &.el-popper.is-light {
    box-shadow: var(--shadow-300);
  }
  .el-radio-group {
    display: flex;
    .el-radio-button {
      flex: 1;
    }
    .el-radio-button__inner {
      width: 100%;
    }
  }
  &:has(.has-sidebar) {
    .el-radio-group {
      margin-left: 122px;
    }
    .el-date-picker__header {
      padding-left: 8px;
      .el-date-picker__header-label ~ .el-date-picker__header-label {
        transform: translateX(-55px);
      }
    }
  }

  .el-date-picker__header {
    display: flex;
    justify-content: space-between;
    .el-date-picker__header-label {
      order: 1;
      margin-right: auto;
      padding-top: 6px;
    }
    .el-date-picker__header-label ~ .el-date-picker__header-label {
      transform: translateX(-35px);
    }
    .el-date-picker__custom-now-btn {
      order: 2;
      margin-top: -1px;
      &:hover {
        svg {
          path {
            fill: var(--color-orange-orange-600);
          }
        }
      }
    }
    .el-date-picker__prev-btn {
      order: 3;
    }
    .el-date-picker__next-btn {
      order: 4;
    }

    .el-picker-panel__icon-btn {
      padding-top: 3px;
    }
  }
}

.el-picker-panel *[slot='sidebar'],
.el-picker-panel__sidebar {
  top: 1px;
  bottom: 1px;
}
