.el-input {
  --el-border-color-custom: var(--color-gray-gray-300);
  .el-input__inner {
    color: var(--color-gray-gray-990);
  }
  .el-input__prefix-inner,
  .el-input__suffix-inner {
    color: var(--color-gray-gray-800);
  }

  &.is-disabled {
    border-color: var(--color-gray-gray-100);
    .el-input__wrapper {
      box-shadow: none;
      border-color: var(--color-gray-gray-100);
    }
  }
}

.el-textarea {
  --el-border-color-custom: var(--color-gray-gray-300);
  &.is-disabled {
    border-color: var(--color-gray-gray-100);
    .el-textarea__inner {
      box-shadow: none;
      border-color: var(--color-gray-gray-100);
    }
    .float-label {
      background-color: transparent;
    }
  }
  .float-label.has-value {
    transform: translateY(-16px);
  }

  .el-textarea__inner {
    &.is-focus {
      ~ .float-label {
        transform: translateY(-16px);
      }
    }
  }

  // textarea-prefix
  &:has(.textarea-prefix) {
    .el-textarea__inner {
      padding-left: 32px;
    }
    .textarea-prefix {
      position: absolute;
      left: 12px;
      top: 10px;
    }
    .float-label {
      left: 32px;
    }
    .el-textarea__inner {
      &.is-focus {
        ~ .float-label {
          transform: translate(-20px, -16px);
        }
      }
    }
    .float-label.has-value {
      transform: translate(-20px, -16px);
    }
  }
  // textarea-suffix
  &:has(.textarea-suffix) {
    .el-textarea__inner {
      padding-right: 23px;
    }
    .textarea-suffix {
      position: absolute;
      right: 8px;
      top: 10px;
    }
  }
}
