@use './common.scss' as *;

.el-message {
  --el-message-text-color: var(--color-text-text-secondary);

  .el-message__icon {
    margin-right: 8px;
    margin-top: 1px;
  }
  .el-message__closeBtn {
    margin-top: var(--space-050);
  }
  .el-message__labelBtn {
    margin-top: -5px;
    margin-left: var(--space-100);
    @include button-custom-hover-active;
  }
  &:has(.el-message__labelBtn) {
    padding-bottom: 8px;
    .el-message__content {
      padding-bottom: 5px;
    }
  }
  .el-message__title {
    color: var(--color-gray-gray-990);
    font-size: var(--p-font-size-550);
    font-weight: var(--p-font-weight-bold);
    white-space: nowrap;
    margin-right: var(--space-150);
  }
  &.el-message--error {
    --el-message-bg-color: var(--color-red-red-100);
    --el-message-border-color: var(--color-red-red-800);
    .el-message-icon--error {
      svg path {
        fill: var(--color-red-red-600);
      }
    }
  }
  &.el-message--info {
    --el-message-bg-color: var(--color-blue-blue-100);
    --el-message-border-color: var(--color-text-text-placeholder);
  }
  &.el-message--success {
    --el-message-bg-color: var(--color-lime-lime-50);
    --el-message-border-color: var(--color-green-green-700);
  }
  &.el-message--warning {
    --el-message-bg-color: var(--color-yellow-yellow-100);
    --el-message-border-color: var(--color-yellow-yellow-400);
  }

  &.is-dark {
    .el-message__labelBtn,
    .el-message__title,
    .el-message__content {
      color: var(--white);
    }
    .el-icon,
    .el-message__closeBtn {
      svg {
        path {
          fill: var(--white);
        }
      }
    }

    &.el-message--error {
      --el-message-bg-color: var(--color-red-red-600);
      --el-message-border-color: var(--color-red-red-800);
    }
    &.el-message--info {
      --el-message-bg-color: var(--color-cloudy-gray-cloudy-gray-800);
      --el-message-border-color: var(--color-gray-gray-400);
    }
    &.el-message--success {
      --el-message-bg-color: var(--color-lime-lime-600);
      --el-message-border-color: var(--color-lime-lime-600);
    }
    &.el-message--warning {
      --el-message-bg-color: var(--color-yellow-yellow-300);
      --el-message-border-color: var(--color-yellow-yellow-400);
      .el-message__title,
      .el-message__labelBtn,
      .el-message__content {
        color: var(--color-gray-gray-990);
      }
      .el-message__labelBtn {
        border-color: var(--color-gray-gray-990);
      }
      .el-message__closeBtn,
      .el-message-icon--warning {
        svg path {
          fill: var(--color-gray-gray-990);
        }
      }
    }
  }
}
