@use './common.scss' as *;

.el-notification--success--wrapper {
  background-color: var(--color-lime-lime-50);
  border-color: var(--color-lime-lime-400);
}
.el-notification--warning--wrapper {
  background-color: var(--color-yellow-yellow-100);
  border-color: var(--color-yellow-yellow-400);
}
.el-notification--info--wrapper {
  background-color: var(--color-gray-gray-50);
  border-color: var(--color-gray-gray-300);
}
.el-notification--error--wrapper {
  background-color: var(--color-red-red-100);
  border-color: var(--color-red-red-400);
}
.el-notification {
  .el-notification__icon {
    font-size: var(--p-font-size-600);
  }
}
.el-notification__group {
  margin-left: var(--space-250);
  .el-button {
    @include button-custom-hover-active;
  }
}
