@use './font.scss' as *;

.el-select {
  border: none;
  .el-select__placeholder {
    font-size: var(--p-font-size-500);
  }
  .el-select__prefix,
  .el-select__suffix {
    color: var(--color-gray-gray-800);
  }
  .el-select__wrapper {
    &.is-disabled {
      border-color: var(--color-gray-gray-100);
      box-shadow: none;
    }
    .prefix-label {
      &.float-label {
        left: 28px;
        top: 9px;
      }
    }
    &.is-focused {
      .prefix-label {
        &.float-label {
          left: 12px;
        }
      }
    }

    &:has(.el-select__placeholder) {
      .prefix-label {
        &.float-label {
          left: 12px;
        }
      }
    }
  }
  .el-select__selection {
    .el-tag {
      border-radius: var(--radius-raidus-300);
      background-color: var(--color-gray-gray-100);
    }
  }
}
.el-select-dropdown {
  .el-select-group__title {
    color: var(--color-gray-gray-990);
    @include heading-heading-xsm;
  }
  .el-select-dropdown__item {
    font-size: var(--p-font-size-500);
  }
}
