@use './font.scss' as *;

.el-table {
  .el-table__header-wrapper {
    border-bottom: none;
  }

  .el-table__cell {
    padding: 9px 0;
  }
  thead {
    th.is-sortable {
      cursor: unset !important;
      .sort-caret-custom {
        &.el-button {
          padding: 5px 6px;
          font-size: var(--p-font-size-550);
        }
        .icon-arrow {
          margin-left: 0;
          path {
            fill: var(--color-gray-gray-300);
          }
        }
      }
      &.ascending {
        .icon-top {
          display: block;
        }
        .icon-arrow {
          transform: rotate(180deg);
          path {
            fill: var(--color-orange-orange-600);
          }
        }
      }
      &.descending {
        .icon-bottom {
          display: block;
        }
        .icon-arrow {
          path {
            fill: var(--color-orange-orange-600);
          }
        }
      }
    }
  }
}

.el-table--border {
  th.el-table__cell {
    &:nth-child(1) {
      border-right: none;
    }
  }
  .el-table__cell {
    &:has(.el-input) {
      padding: 0;
      .cell {
        padding: 0;
      }

      .el-input__wrapper {
        border-radius: 0;
        height: 100%;
      }
      .el-input__inner {
        height: 40px;
      }
    }
  }
  .el-table__body-wrapper {
    .el-table__cell {
      border-right: none;
      &:has(.editable-table-cell) {
        &:hover {
          border: 1px solid var(--color-gray-gray-300);
        }
      }
    }
  }
  .el-table__cell.el-table-column--selection {
    border-right: none;
  }
  .el-icon {
    &.warning {
      path {
        fill: var(--color-yellow-yellow-400);
      }
    }
  }
}

.el-table.is-scrolling-left.el-table--border {
  .el-table__body-wrapper {
    .el-table-fixed-column--left.is-last-column.el-table__cell {
      border-right: none;
    }
  }
}
